.chat__hidden, .chat__visible
    position: fixed
    width: 300px
    height: 100vh
    top: 0
    transition: 0.3s ease-in
    z-index: 5

.chat__connected, .chat__disconnected
    width: 20px
    height: 20px
    border-radius: 20px
    position: absolute
    left: 5px
    top: 5px
    z-index: 6

.chat__connected
    background-color: green

.chat__disconnected
    background-color: red

.chat__hidden
    right: -300px

.chat__visible
    right: 0px

.chat__icon
    position: fixed
    top: 10px
    right: 20px
    width: 45px
    height: 45px
    background-image: url(/icons/chat.png)
    background-size: cover
    z-index: 7
    &:hover
        cursor: pointer
        animation: roll 0.5s linear 0s infinite

@keyframes roll
    0%
        transform: scale(1)
    50%
        transform: scale(0.95)
    100%
        transform: scale(1)       
    